html {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body {
    height: 100%;
}

div.card-action a {
    color: rgb(230, 0, 0) !important;
}

nav {
    background-color: rgb(255, 255, 255);
}

ul {
    margin: 0px;
}

nav ul a {
    color: black !important;
}

.card-content p {
    padding: 5px 5px 5px 5px !important;
}

.customDivider {
    margin-top: 0.2em !important;
    margin-bottom: 0.2em !important;
}

.collectionImage {
    width: 100%;
    height: 200px !important;
    object-fit: cover;
}

.collectionDiv {
    margin-top: 4em;
}

.collectionDescription {
    text-align: center;
    margin-bottom: 1em;
}

.somfyImage {
    width: 80% !important;
    margin: auto;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-small,
.btn-floating,
.dropdown-content,
.collapsible,
.sidenav {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 0px 0 rgba(0, 0, 0, 0.2);
}

.grayborder {
    border: 1px solid lightgray;
}

.breadcrumbDiv {
    width: 80%;
    margin: auto;
}

.breadcrumb:before {
    color: white;
}

.breadcrumbNav {
    background-color: rgb(230, 0, 0);
    box-shadow: none;
    height: auto;
}

.card-content {
    padding: 2px !important;
}

.navbartoplistelements {
    display: inline;
    margin-right: 5px;
}

.navbartop {
    background-color: rgb(255, 255, 255);
}

.navbartoplinks {
    padding-left: 5px;
    color: rgb(230, 0, 0);
}

.navbar {
    z-index: 100;
    position: fixed;
    width: 100%;
}

.customslideheader {
    top: 50% !important;
}

.indexslider {
    height: 100% !important;
}

.customslider {
    height: 60% !important;
}

ul.customslider {
    height: 100% !important;
}

.weprovidediv {
    width: 33%;
}

.kompetenzen-pics {
    padding: 35px 35px 0px 35px;
}

.pic-container {
    position: relative;
    text-align: center;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.navbarbutton {
    height: 80%;
}

.navbarbutton a {
    color: rgb(230, 0, 0) !important;
}

#navbaricongroup {
    width: 100%;
    text-align: right;
}

#weprovideheader {
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 2em;
    width: 80%;
}

#weprovidecontent {
    background-color: rgb(248, 248, 248);
}

#weproviderowdiv {
    padding-bottom: 3em;
}

#competencescontent {
    -webkit-box-shadow: 0px 3px 50px -10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 3px 50px -10px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 3px 50px -10px rgba(0, 0, 0, 0.6);
}

#brandlogo {
    height: 45px;
}

.sidenav-overlay {
    z-index: 1;
}

.dropdownProdukteStyling {
    width: 100% !important;
    top: 100% !important;
    left: 20% !important;
    height: auto !important;
    background-color: rgba(255, 255, 255, 1) !important;
}

.dropdownUnternehmenStyling {
    width: 75% !important;
    top: 100% !important;
    left: 45% !important;
    height: auto !important;
    background-color: rgba(255, 255, 255, 1) !important;
}

.dropdownSmarthomeStyling {
    width: 25% !important;
    top: 100% !important;
    left: 68% !important;
    height: auto !important;
    background-color: rgba(255, 255, 255, 1) !important;
}

.dropdownKontaktStyling {
    width: 48% !important;
    top: 100% !important;
    left: 72% !important;
    height: auto !important;
    background-color: rgba(255, 255, 255, 1) !important;
}

#dropdownProdukte div {
    padding: 0;
    top: 100%;
}

#dropdownProdukte li {
    text-align: left;
}

.navLiPicture {
    pointer-events: none !important;
    text-align: center !important;
}

.navLiImage {
    width: 50%;
    float: left;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.divProdukteHomepage .container .row {
    margin-top: 3em !important;
}

.partnerImageDiv {
    height: 15em;
    margin-bottom: 2em;
}

.partnerImage {
    width: 80%;
    margin: auto;
}

.kontaktCard {
    background-color: rgb(230, 0, 0);
}

.smarthomeList {
    margin-top: 5em;
}

#competencescontent div div.row {
    margin-bottom: 0px !important;
}

.competencesText {
    text-align: center;
    font-size: 2em;
    height: 250px;
}

.competencesCardImage {
    padding: 20% 20% 20% 20%;
}


/* Smartphones */

@media (max-width: 600px) {
    .customheader {
        font-size: 2em !important;
    }
    .collectionDescription {
        margin-bottom: 2em !important;
    }
    html {
        text-align: center !important;
    }
    .show-on-small {
        visibility: visible !important;
    }
    .ueberUnsSmartphone {
        visibility: visible !important;
    }
    .svgHomepage {
        /* width: 5em; */
        height: 100px !important;
    }
    .svgDivHomepage {
        text-align: center;
        background: transparent;
    }
    .divProdukteHomepage {
        padding-bottom: 4em;
        background-color: rgb(248, 248, 248);
    }
    .produkteFotosHomepage {
        height: auto !important;
        width: 100%;
    }
    .imageReferenz {
        width: 80% !important;
        margin-left: 10% !important;
    }
    .card {
        width: 80%;
        margin: auto;
        margin-bottom: 2em;
    }
    .produkteColumn {
        margin-top: 4em;
    }
}


/* Tablets */

@media (min-width: 601px) and (max-width: 994px) {
    body {
        text-align: center;
    }
}


/* Large Desktops */

@media (min-width: 995px) {}


/* Align Navbar to Screen Width */

@media (min-width: 995px) and (max-width: 1330px) {}


/* Align Breadcrumb */

@media (max-width: 434px) {
    .breadcrumb {
        font-size: 11px !important;
    }
}

h1 {
    font-size: 2.5em;
}

p {
    font-size: 1em;
}

.customheader {
    font-size: 2.5em;
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 1em;
    width: 80%;
    text-align: center;
}

.breadcrumb {
    color: white !important;
    font-size: 1em;
}

.card-title {
    text-align: center !important;
    font-size: 1.3em !important;
    font-weight: 500 !important;
}

.weprovideicons {
    font-size: 60px;
    padding: 40px;
    border: 3px solid red;
    color: red;
    border-radius: 75px;
}

.weprovidedescription {
    font-size: 1.3em;
    text-align: center;
    font-weight: 500;
}

.kontaktIcon {
    color: white;
    font-size: 7em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.footerLinks {
    color: white !important;
    text-decoration: underline;
}

.anfahrtLinks {
    text-decoration: underline;
}

.produkteFotosHomepage {
    height: 185px !important;
    width: 100%;
    object-fit: cover;
}

.svgHomepage {
    /* width: 5em; */
    height: 65px;
}

.svgDivHomepage {
    text-align: center;
}

.divProdukteHomepage {
    padding-bottom: 4em;
    background-color: rgb(240, 240, 240);
}

.produkteDescription {
    font-size: 1.3em;
    text-align: center;
    font-weight: 500;
}

.untertitel {
    text-align: center;
    margin: 1em 0 1em 0;
    font-size: 1.5em;
}

.team {
    text-align: center;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: rgb(42, 42, 42);
    color: white;
    text-align: center;
    border-radius: 2px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 5px;
    opacity: 0.8;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    -webkit-animation: fadein 1.5s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1.5s;
    /* Firefox < 16 */
    -ms-animation: fadein 1.5s;
    /* Internet Explorer */
    -o-animation: fadein 1.5s;
    /* Opera < 12.1 */
    animation: fadein 1.5s;
}

.show-on-small {
    visibility: hidden;
    width: 100%;
    background-color: rgb(42, 42, 42);
    color: white;
    text-align: center;
    border-radius: 2px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 5px;
    opacity: 0.8;
}

.ueberUnsSmartphone {
    visibility: hidden;
}

.fullWidthImage {
    width: 80%;
    margin-left: 10%;
    margin-top: 2em;
    margin-bottom: 2em;
}

.beschatter {
    width: 50%;
    float: left;
    padding-bottom: 2em;
}

.modal {
    max-height: 100% !important;
}

.modal .modal-content {
    padding: 5px !important;
}

#btnSideNavClose {
    color: white !important;
    background-color: rgb(230, 0, 0);
    margin-left: 20%;
    bottom: 12%;
    border-radius: 10px;
    position: absolute;
    width: 60%;
    text-align: center;
}

.imageReferenz {
    margin-bottom: 2em;
}

#btnSideNavTrigger {
    color: black;
}

.partnerLinks {
    width: 100%;
}

.mapsCenter {
    text-align: center;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.8;
    }
}


/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.8;
    }
}


/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.8;
    }
}


/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.8;
    }
}


/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.8;
    }
}