<div class="container">
    <div class="row">
        <div class="col l6 s12">
            <ul>
                <li>
                    Regio Storen GmbH
                </li>
                <li>
                    Bernstrasse 35 | 3294 Büren a. Aare
                </li>
            </ul>

        </div>
        <div class="col l4 offset-l2 s12">
            <ul>
                <li>
                    Telefon: <a class="footerLinks" href="tel:+41325521812">+41 32 552 18 12</a>
                </li>
                <li>
                    E-Mail: <a class="footerLinks" href="mailto:info@regio-storen.ch" target="_top">info@regio-storen.ch</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">
        <div class="row">
            <div class="col m8 s4">
                © 2019 Regio Storen GmbH
            </div>
            <div class="col m2 s3">
                <a class="footerLinks" href="/pages/impressum.html">Impressum</a>
            </div>
            <div class="col m2 s5">
                <a class="footerLinks" href="/pages/datenschutzerklaerung.html">Datenschutzerklärung</a>
            </div>
        </div>
    </div>
</div>