<div class="navbar">
    <div class="navbartop col l12 m12">
        <ul id="navbaricongroup">
            <li class="navbartoplistelements">
                <a class="navbartoplinks" target="_blank" href="https://www.facebook.com/Regio-Storen-2218220148435835/"><i class="fab fa-facebook"></i></a>
            </li>
            <li class="navbartoplistelements">
                <a class="navbartoplinks" target="_blank" href="https://www.instagram.com/regiostoren/"><i class="fab fa-instagram"></i></a>
            </li>
            <!-- <li class="navbartoplistelements">
                <a class="navbartoplinks" href="#">de</a>
            </li>
            <li class="navbartoplistelements">
                <a class="navbartoplinks" href="#">fr</a>
            </li> -->
        </ul>
    </div>
    <div id="dropdownProdukte" class="row dropdown-content dropdownProdukteStyling">
        <ul class="col s3">
            <li><a href="/pages/produkte/indoor.html">Indoor</a></li>
            <li class="divider"></li>
            <li><a href="/pages/produkte/indoor/plissees.html">Plissees</a></li>
            <li><a href="/pages/produkte/indoor/insektenschutz.html">Insektenschutz</a></li>
            <li><a href="/pages/produkte/indoor/jalousinen.html">Jalousien</a></li>
        </ul>
        <ul class="col s3">
            <li><a href="/pages/produkte/fensterundfassaden.html">Fenster & Fassaden</a></li>
            <li class="divider"></li>
            <li><a href="/pages/produkte/fensterundfassaden/lamellenstoren.html">Lamellenstoren</a></li>
            <li><a href="/pages/produkte/fensterundfassaden/rollladen.html">Rollladen</a></li>
            <li><a href="/pages/produkte/fensterundfassaden/fensterladen.html">Fensterladen</a></li>
            <li><a href="/pages/produkte/fensterundfassaden/faltrollladen.html">Faltrollladen</a></li>
        </ul>
        <ul class="col s3">
            <li><a href="/pages/produkte/balkonundterrasse.html">Balkon & Terrasse</a></li>
            <li class="divider"></li>
            <li><a href="/pages/produkte/balkonundterrasse/offenemarkisen.html">Offene Markisen</a></li>
            <li><a href="/pages/produkte/balkonundterrasse/kasettenmarkisen.html">Kassettenmarkisen</a></li>
            <li><a href="/pages/produkte/balkonundterrasse/freistehendebeschattung.html">Freistehende Beschattung</a></li>
        </ul>
        <ul class="col s3">
            <li><a href="/pages/produkte/pergolaundpavillon.html">Pergola & Pavillon</a></li>
            <li class="divider"></li>
            <li><a href="/pages/produkte/pergolaundpavillon/glasdachsysteme.html">Glasdachsysteme</a></li>
            <li><a href="/pages/produkte/pergolaundpavillon/wintergartenbeschattung.html">Wintergartenbeschattung</a></li>
            <li><a href="/pages/produkte/pergolaundpavillon/pavillons.html">Pavillons</a></li>
            <li><a href="/pages/produkte/pergolaundpavillon/sonnenschirme.html">Sonnenschirme</a></li>
        </ul>
    </div>
    <div id="dropdownUnternehmen" class="row dropdown-content dropdownUnternehmenStyling">
        <ul class="col s4">
            <li><a href="/pages/unternehmen/ueberuns.html">Über uns</a></li>
        </ul>
        <ul class="col s4">
            <li><a href="/pages/unternehmen/referenzen.html">Referenzen</a></li>
        </ul>
        <ul class="col s4">
            <li><a id="btnUnternehmen_Partner" href="/pages/unternehmen/partner.html">Partner</a></li>
        </ul>
    </div>
    <div id="dropdownKontakt" class="row dropdown-content dropdownKontaktStyling">
        <ul class="col s6">
            <li><a href="/pages/kontakt/kontaktformular.html">Kontaktformular</a></li>
        </ul>
        <ul class="col s6">
            <li><a href="/pages/kontakt/anfahrt.html">Anfahrt</a></li>
        </ul>
    </div>
    <nav role="navigation">
        <div class="nav-wrapper container col l12 m12">
            <a id="logo-container" href="/" class="brand-logo"><img id="brandlogo" class="responsive-img" src="/media/Logo.png"></a>
            <a id="btnSideNavTrigger" href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li class="navbarbutton"><a id="btnProdukte" class="dropdown-trigger" href="/pages/produkte.html" data-target="dropdownProdukte">Produkte</a></li>
                <li class="navbarbutton"><a id="btnSmartHome" href="/pages/smarthome.html">Smart Home</a></li>
                <li class="navbarbutton"><a id="btnUnternehmen" class="dropdown-trigger" href="/pages/unternehmen/ueberuns.html" data-target="dropdownUnternehmen">Unternehmen</a></li>
                <li class="navbarbutton"><a id="btnKontakt" class="dropdown-trigger" href="/pages/kontakt/kontaktformular.html" data-target="dropdownKontakt">Kontakt</a></li>
            </ul>
            <ul id="nav-mobile" class="sidenav">
                <li><a id="btnProdukte" href="/pages/produkte.html">Produkte</a></li>
                <li><a id="btnSmartHome" href="/pages/smarthome.html">Smart Home</a></li>
                <li><a id="btnUnternehmen" href="/pages/unternehmen/ueberuns.html">Unternehmen</a></li>
                <li><a id="btnKontakt" href="/pages/kontakt/kontaktformular.html">Kontakt</a></li>
                <li><a id="btnSideNavClose" class="sidenav-close" href="#!">Schliessen</a></li>
            </ul>
        </div>
    </nav>
</div>